h3 {
    font-size: -webkit-xxx-large;
}

.appSmallImg {
    height: 23px;
}

#btnmargin {
    margin: 4px 11px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

.imgHeight {
    height: 15px;
}

.spanSize {
    font-size: 7px;
    font-weight: 700;
}

.imgboard {
    height: 17px;
}

.leaderBoardSpan {
    font-size: 10px;
}

.svgTag {
    height: 11px;
}

.lmy {
    font-size: 18px !important;

}

h4 {
    text-align: end;
}